<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/admin/admin-add-author.css">
</head>

<body>
  <%- include('../includes/header.ejs') %>
  <main>
    <h2>Add an Author</h2>
    <form action="/admin/authors/add" method="POST">
      <div class="add-author-field">
        <label for="add-author-firstname">First Name</label>
        <input id="add-author-firstname" name="firstname" type="text">
      </div>
      <div class="add-author-field">
        <label for="add-author-lastname">Last Name<span>*</span></label>
        <input id="add-author-lastname" name="lastname" type="text" required>
      </div>
      <div class="add-author-field">
        <label for="add-author-birthyear">Birth Year<span>*</span></label>
        <input id="add-author-birthyear" name="birthyear" type="number" max="9999" required>
      </div>
      <div class="add-author-field">
        <label for="add-author-deathyear">Death Year</label>
        <input id="add-author-deathyear" name="deathyear" type="number" max="9999">
      </div>
      <div class="add-author-field">
        <label for="add-author-bio">Biography<span>*</span></label>
        <textarea id="add-author-bio" name="biography" required rows="8"></textarea>
      </div>
      <p>*required</p>
      <button>Submit</button>
    </form>
  </main>
  <footer>

  </footer>
</body>

</html>