<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/admin/admin-index.css">
</head>

<body>
  <%- include('../includes/header.ejs') %>
  <main>
    <ul>
      <li>
        <a href="/admin/frontpage">Manage Shop Front Page</a>
      </li>
      <li class="inventory-link">
        <a href="/admin/inventory">Manage Store Inventory</a>
      </li>
      <li>
        <a href="/admin/book_catalogue">Manage Book Catalogue</a>
      </li>
      <li>
        <a href="/admin/authors">Manage Authors</a>
      </li>
      <li>
        <a href="/admin/genres">Manage Genres</a>
      </li>
    </ul>

  </main>
  <footer>

  </footer>
</body>

</html>