<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/admin/admin-authors.css">
</head>

<body>
  <%- include('../includes/header.ejs') %>
  <main>
    <h2>Manage Authors</h2>
    <section>
      <h3>Add an Author</h3>
      <p>
        Before adding an author, look through the list below to see if the author is already in the database.
      </p>
      <a href="/admin/authors/add">Add</a>
    </section>

    <section>
      <h3>
        List of Authors
      </h3>
      <ul>

      </ul>
    </section>

  </main>
  <footer>

  </footer>
</body>

</html>