main {
  background-color: rgb(255, 234, 217);
  min-height: calc(100vh - 130px);
  padding: 2rem;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

label {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

input {
  font-size: 2rem;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px solid black;
  width: 30rem;
  margin-bottom: 4.5rem;
}

input:focus {
  outline: none;
  border: 1px solid rgb(103, 103, 194);
}

form button {
  font-size: 2rem;
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 4.5rem;
  cursor: pointer;
}

.reset-message {
  font-size: 1.6rem;
  font-weight: bold;
  width: 100%;
  height: 3.05rem;
  padding: .6rem;
  margin: 1rem auto;
  text-align: center;
  border-radius: 3px;
}

.reset-error {
  background-color: #fe6c6c66;
}

.reset-success {
  background-color: #6cfe6e66;
}

.hidden {
  visibility: hidden;
}