<header class="app-header">
  <h1 class="app-heading"><a href="/shop"><span class="app-heading-first">Doug's</span><span>Books</span></a></h1>
  <nav class="app-nav">
    <% if (!currentUser) { %>
    <ul>
      <li><a href="/auth/login">Log In</a></li>
      <li><a href="/auth/signup">Sign Up</a></li>
    </ul>
    <% } else { %>
    <ul>
      <li><a href="/shop">Shop</a></li>

      <% if (currentUser.email !== adminEmail) { %>
      <li><a href="/orders">My Orders</a></li>
      <li><a href="/cart">Cart</a></li>
      <% } else { %>
      <li><a href="/admin">Admin</a></li>
      <% } %>
      <li>
        <form action="/auth/logout" method="POST">
          <input type="hidden" value="1" name="test">
          <button>Log Out</button>
        </form>
      </li>
    </ul>
    <% } %>

  </nav>
</header>