<header class="app-header">
  <h1 class="app-heading"><span class="app-heading-first">Doug's</span><span>Books</span></h1>
  <nav class="app-nav">
    <ul>
      <li><a>Shop</a></li>
      <li><a>My Orders</a></li>
      <li><a>Cart</a></li>
      <li><a>Admin</a></li>
    </ul>
  </nav>
</header>