<nav class="shop-nav">
  <ul>
    <li>Explore by: </li>
    <li><a href="/shop/title">Title</a></li>
    <li><a href="/shop/author">Author</a></li>
    <li><a href="/shop/genre">Genre</a></li>
  </ul>
</nav>