main {
  padding: 2rem;
}

section {
  padding-bottom: 3rem;
}

section * {
  margin-left: 2rem;
}

h2 {
  padding-bottom: 3rem;
}

h3 {
  padding-bottom: 2rem;
  margin-left: 0;
}

p {
  padding-bottom: 2rem;
  font-size: 2rem;
}

main a {
  font-size: 2rem;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 5px;

}