main {
  padding: 2rem;
  text-align: center;
}

.author-info {
  font-size: 2rem;
}

.author-dates {
  margin-bottom: 2.5rem;
}

.author-bio {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.author-image {
  height: 200px;
  margin-bottom: 2.5rem;
}

.author-books {
  margin-bottom: 2rem;
}

.author-books-heading {
  margin-bottom: 1.5rem;
}

.author-books-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 800px;
  list-style: none;
}

.author-book-image {
  height: 200px;
}

.author-book-title {
  font-size: 1.6rem;
}

.author-edit-link {
  padding: .5rem;
  font-size: 1.6rem;
  border: 1px solid black;
  border-radius: 5px;
}